body {
background-color: #E9ECEF;

}
#music-store {
    color: red;
    
}
.price {
    text-align: left;
    font-size: 10px;
    background-color: rgb(112, 108, 108);
    width:max-content;
    color: white;
    border-radius: 2px;
}
.brand {
    color:purple;
    
}

